Create a New Landmark
<form action="/landmarks" method="post">
    <label>Name: 
        <input type="text" id="landmark_name" name="landmark[name]" >
    </label>
    <label>Year Completed: 
        <input type="number" id="landmark_year_completed" name="landmark[year_completed]">
    </label>
    <button id="Submit">Create New Landmark</button>
</form>