<h1>New</h1>

<form method='POST' action='/landmarks'>
  <p>
    Name: <input type="text" name="name"><br/>
    Fig ID: <input type="text" name="figure_id"><br/>
    Year: <input type="text" name="year_completed"><br/>
  </p>
  <input type="submit" value="submit">
</form>

