Create a New Landmark
<form action="/landmarks/<%= @landmark.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label>Name: 
        <input type="text" name="name" value="<%= @landmark.name %>">
    </label>
    <label>Year Completed: 
        <input type="number" name="year_completed" value="<%= @landmark.year_completed %>">
    </label>
    <button id="Submit">Submit Change</button>
</form>